* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ====================== common ==================== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  min-width: 186px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
}
.heading-lv2,
.heading-lv2 a {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}
/* ====================== header ==================== */
.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #2f3a3b;
  padding: 8px 19.5px;
}

.action .action-link:hover,
.nav a:hover {
  color: #2f3a3b;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.action .action-link {
  margin-left: 157.5px;
  color: #494949;
  text-align: center;
}

.action .action-btn {
  margin-left: 24px;
  display: inline-block;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: white;
  transition: 0.3s;
}

/* ================== hero ======================  */

.hero {
  padding: 42px 0 79px;
  /* background: aqua; */
}
.hero .body {
  display: flex;
}

.hero .content-block {
  width: 50%;
}

.hero .content-block .top-title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .content-block .top-title-lv2 {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.hero .content-block .title {
  margin-top: 18px;
  max-width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
}

.hero .content-block .desc-span {
  display: inline-block;
}

.hero .content-block .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .content-block .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1111;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-block .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* ======== hero right =================== */
.hero .media-block {
  position: relative;
  width: 50%;
}

.hero .media-block img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .media-course {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-course::after {
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}

.hero .media-course .course-icon {
  width: 36px;
  height: 40px;
}

.hero .media-course .detail {
  width: 55px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .media-schedules {
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-schedules span {
  display: inline-block;
  margin: 16px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .media-block .schedules-icon {
  margin: 16px 25px 0;
  display: block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .media-schedules .icon-2 {
  margin-top: 12px;
}

.hero .media-schedules .icon-3 {
  margin-top: 10px;
}

.hero .media-schedules .icon-4 {
  margin: 16px 49px auto;
  text-align: center;
  width: 26px;
  height: 6px;
}

/* avatar block */
.hero .media-block .avatar-block {
  position: absolute;
  top: 500px;
  left: 324px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .ava-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .ava-list .ava {
  margin-top: 8px;
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.hero .ava-list .ava:first-child {
  margin-left: 0;
}

.hero .avatar-block .detail {
  display: inline-block;
  margin: 17px 35px 0;
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero .avatar-block .avar-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ebfc1;
}

.hero .avar-more span {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* ===================== feature ================ */
.feature {
  margin-top: 70px;
}
.feature .body-feature {
  max-width: 1024px;
  /* background: cyan; */
  padding: 60px 0;
}

.feature .heading-lv2 {
  margin-top: 18px;
  max-width: 577px;
}

.feature .desc {
  max-width: 590px;
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

.feature .feature-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.feature .feature-list .item-title {
  margin-top: 26px;
}
.feature .feature-list .item-title a {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.feature .item .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}

.feature .item:first-child .item-desc {
  max-width: 168px;
}

.feature .item:nth-child(2) .item-desc {
  max-width: 223px;
}

.feature .item:nth-child(3) .item-desc {
  max-width: 224px;
}

/* =============== course ================== */
.course {
  margin-top: 10px;
}

.course .body {
  padding: 60px 0 184px;
  /* background: aqua; */
}

.course .heading-lv2 {
  margin-top: 18px;
}

.course .row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course .all-course {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.course .desc {
  margin-top: 19px;
  max-width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.course .course-list {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}

.course .heading-lv3 a {
  color: #0d1111;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course .course-list .course-item {
  position: relative;
}

.course .course-item .thumb {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
}

.course .course-item .course-detail {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course .course-detail .wrap-item {
  padding: 18px 25px 0;
}

.course .course-detail .cost {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.course-detail .cost span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course .course-detail .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course .course-detail .static {
  margin-top: 18px;
  margin-left: -10px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course .course-detail span::before {
  margin: 0 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}

/* =============== countdown ================== */

.countdown {
  margin-top: 81px;
}

.countdown .body {
  margin-left: auto;
  margin-right: auto;
  max-width: 862px;
  /* background: aqua; */
}

.countdown .countdown-list {
  display: flex;
  justify-content: space-between;
}

.countdown .countdown-item .static {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}

.countdown .countdown-item .desc {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  line-height: normal;
}

/* ================= feedback =================== */
.feedback {
  margin-top: 227px;
}

.feedback .body {
  position: relative;
  padding: 37px 0;
  /* background: aqua; */
}

.feedback blockquote {
  max-width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback .desc {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback .desc::before {
  margin-right: 6px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
}
.feedback .desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.feedback .feedback-cta {
  margin-left: -30px;
  display: flex;
  margin-top: 52px;
  display: flex;
}

.feedback .feedback-cta .cta-btn-group {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
}

.feedback .feedback-cta .cta-btn-group:hover {
  opacity: 0.9;
  border: 1px solid rgba(207, 20, 195, 0.219);
  transition: 0.5s;
}

.feedback .ava-fb {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.feedback .avar-fb-1 {
  left: 635px;
  top: 0;
  width: 92px;
  height: 92px;
}

.feedback .avar-fb-2 {
  width: 110px;
  height: 110px;
  right: 0;
  left: 1060px;
  top: 19px;
}

.feedback .avar-fb-3 {
  width: 235px;
  height: 235px;
  top: 107px;
  left: 764px;
}

.feedback .avar-fb-4 {
  top: 258px;
  left: 491px;
}

.feedback .avar-fb-5 {
  top: 403px;
  left: 703px;
}

.feedback .avar-fb-6 {
  top: 374px;
  left: 1060px;
}

/* ====================== admit ==================== */
.admit {
  margin-top: 130px;
  padding: 76px 135px 88px;
  background: #def6f5;
}

.admit .body {
  display: flex;
  align-items: center;
}

.admit .admit-left .desc {
  margin-top: 18px;
  margin-right: 410px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

/* ====================== footer ==================== */
.footer {
  background-color: #fff;
}

.footer .row-top {
  padding: 131px 0 0;
  display: flex;
  justify-content: space-between;
}

.footer .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}

.footer .list li {
  margin-top: 18px;
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}

.footer .list li:first-child {
  margin-top: 26px;
}

.footer li a {
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}

.footer .list-item5 a {
  display: flex;
  align-items: center;
}

.footer .list .social-icon {
  margin-right: 9px;
}

.footer .copyright {
  margin-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
}
